.new_cost {
  background-color: #aac4d1;
  padding: 1rem;
  margin: 2rem auto;
  width: 70rem;
  max-width: 95%;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
}

.new_cost button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #2a5b84;
  background-color: #2a5b84;
  color: #fefae1;
  border-radius: 10px;
  margin: 15px 0 0 0;
}

.new_cost button:first-child {
  margin-right: 25px;
}

.new_cost button:hover,
.new_cost button:active {
  background-color: #2a5c84b2;
  border-color: #2a5c84b2;
}
